// @font-face {
//   font-family: 'Trixie';
//   src: url('/static/fonts/trixie-text-webfont.woff2') format('woff2'),
//     url('/static/fonts/trixie-text-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

$base-font-size: 1.125rem;

$font-size-l: 1.25rem;
$font-size-m: $base-font-size;
$font-size-s: 0.8rem;

$heading-xl: 3.157rem;
$heading-l: 2.369rem;
$heading-m: 1.777rem;
$heading-s: 1.777rem;

$font-family-primary: 'Arial', sans-serif;

body {
  font-family: $font-family-primary;
  font-size: $base-font-size;
  color: $color-black;
}

h1,
.h1 {
  font-size: $heading-xl;
  font-family: $font-family-primary;
  color: $color-primary;
}
h2,
.h2 {
  font-size: $heading-l;
  margin-top: 0;
  font-family: $font-family-primary;
  color: $color-primary;
}
h3,
.h3 {
  font-size: $heading-m;
  font-family: $font-family-primary;
  color: $color-primary;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: $heading-s;
  font-family: $font-family-primary;
  color: $color-primary;
}

p {
  line-height: 1.7;
}

a {
  font-weight: bold;
  color: inherit;
}
