{% extends '../layout/default.njk' %}

{% block body %}
  <div class="wrapper">
    {% component 'header' %}
    <main>

      <div class="section-item">
        <div class="constrain-l">
          {%- component 'entry', introText -%}
        </div>
      </div>
      {#
      <div class="area-colored">
        <div class="content-item">
          <div class="constrain-l">
            {%- component 'kpis' -%}
          </div>
        </div>
      </div> #}

      <div class="section-item">
        <div class="constrain-l">
          <h2>Soorten werkzaamheden</h2>
        </div>
        {%- component 'slider' -%}
      </div>

      <div class="area-colored">
        <div class="constrain-l">
          <div class="section-item">
            {% component 'contact' %}
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
